<div class="popup popup-mini-guide show">
<span class="button button-close" onclick="libs.MiniGame.closePopupParent()"></span>
<div class="title">{Message.GetMessage('mn22')}</div>
<div class="body-tabs">
<div class="body-tab active">
<div class="money-types" style="background: none; -webkit-box-shadow: none; box-shadow:none">
</div>
<div class="list-tabs">
<div class="scroll-tx guidewild">
<div align="center">
<div class="guide" style="display: block">
<div class="guide-content" id="game-guide">
<span class="step step-1 active"></span>
<span class="step step-2 "></span>
<span class="step step-3"></span>
</div>
<div class="btnbox-guide">
<button type="button" class="btn-guide prev"></button>
<button type="button" class="btn-guide next"></button>
</div>
</div>
</div>
</div>
</div>
</div>
</div>