<div class="popup popup-tx-rank show">
<span class="button button-close" onclick="libs.MiniGame.closePopupParent()"></span>
<div class="title">{Message.GetMessage('tx15')}</div>
<div class="head-tab-ctrls">
<div class="tab-ctrl active"><span class="lasvegas"></span></div>
<div class="tab-ctrl"><span class="hongkong"></span></div>
<div class="tab-ctrl"><span class="macau"></span></div>
</div>
<div class="body-tabs">
<div class="body-tab active">
<div class="money-types">
<span class="type active" id="t1rank"><span>{Config.MoneyText[1]}</span></span>
<span class="type"  id="t2rank"><span>{Config.MoneyText[0]}</span></span>
</div>
<div class="list-tabs">
<div class="list-tab active">
<div class="list-head">
<div class="rank">{Message.GetMessage('hi15')}</div>
<div class="name">{Message.GetMessage('hi21')}</div>
<div class="win">{Message.GetMessage('hi17')}</div>
</div>
<ul class="lists" id="itemsRank">
</ul>
</div>
</div>
</div>
</div>
</div>