<div id="gameMinipoker" class="mg-mp" style="top: 380px;left: 460px; display: none;">
<div class="event">
<span class="event-ticket"></span>
<div class="ticket">0</div>
</div>
<div class="game">
<div style="position: absolute; top:62px; left:163px;">
<span id="spinID">#0</span>
</div>
<div class="jackpot">
<span class="money" id="miniJackpot">0</span>
<i class="ic-money money-1 active"></i>
<i class="ic-money money-2"></i>
</div>
<div class="main">
<canvas id="canvas-minipoker" style="position: absolute; top: 22px; left: 40px;"></canvas>
<div id="msgSlotGui"> <img> </div>
<div class="msgError"></div>
<div class="winnerbox-event-mini">
<div id="event-minipoker-effect">
<div class="character-winnerbox-event-mini"></div>
<div class="star-winnerbox-event-mini"></div>
<div class="star2-winnerbox-event-mini"></div>
<div class="t-winnerbox-event-mini"></div>
</div>
</div>
</div>
<div class="effect">
<span class="jackpot" style="display: none;"></span>
<span class="straighflush" style="display: none;"></span>
</div>
<span class="control">
<span class="spin-tutorial"></span>
</span>
<div class="buttons">
<span class="button button-guide"><i class="ic-guide"></i></span>
<span class="button button-history"><i class="ic-history"></i></span>
<span class="button button-trophy"><i class="ic-trophy"></i></span>
<span class="button button-close"><i class="ic-close"></i></span>
</div>
<div class="money-types">
<span class="money-1 active"></span>
<span class="money-2"></span>
</div>
<div class="bets">
<span class="bet active" id="mini-room1" data-value="1">100</span>
<span class="bet" id="mini-room2" data-value="2">1.000</span>
<span class="bet" id="mini-room3" data-value="3">10.000</span>
</div>
<div class="speed">
<span class="ic-speed _1x active"></span>
<span class="ic-speed _2x"></span>
<span class="button button-spin">{Message.GetMessage('mnpk3')}</span>
<span class="button button-stop" style="display: none">{Message.GetMessage('mnpk5')}</span>
</div>
</div>
</div>