<div id="gameSlotGod" class="mg-ps" style="top: 290px;left: 760px; display: none">
<div id="sg-event">
<div class="event active">
<span class="t1">Giờ vàng</span>
<span class="t2">12:30</span>
<span class="t3">Thứ 3</span>
</div>
</div>
<div class="game">
<div class="jackpot">
<span class="money" id="jp-slotgod">0</span>
<i class="ic-money money-1 active"></i>
<i class="ic-money money-2"></i>
</div>
<div class="slots">
<canvas id="canvas-slotgod"></canvas>
</div>
<div class="line">
<div class="line-col-l">
<i data-line="1">1</i>
<i data-line="6">6</i>
<i data-line="12">12</i>
<i data-line="14">14</i>
<i data-line="2">2</i>
<i data-line="13">13</i>
<i data-line="9">9</i>
<i data-line="11">11</i>
<i data-line="3">3</i>
<i data-line="17">17</i>
</div>
<div class="line-col-r">
<i data-line="4">4</i>
<i data-line="8">8</i>
<i data-line="16">16</i>
<i data-line="15">15</i>
<i data-line="20">20</i>
<i data-line="10">10</i>
<i data-line="18">18</i>
<i data-line="7">7</i>
<i data-line="5">5</i>
<i data-line="19">19</i>
</div>
<div class="lines">
<i class="line-1"></i>
<i class="line-2"></i>
<i class="line-3"></i>
<i class="line-4"></i>
<i class="line-5"></i>
<i class="line-6"></i>
<i class="line-7"></i>
<i class="line-8"></i>
<i class="line-9"></i>
<i class="line-10"></i>
<i class="line-11"></i>
<i class="line-12"></i>
<i class="line-13"></i>
<i class="line-14"></i>
<i class="line-15"></i>
<i class="line-16"></i>
<i class="line-17"></i>
<i class="line-18"></i>
<i class="line-19"></i>
<i class="line-20"></i>
</div>
</div>
<div class="effect" id="ef-slotgod">
</div>
<div class="buttons">
<span class="button button-guide"><i class="ic-guide"></i></span>
<span class="button button-history"><i class="ic-history"></i></span>
<span class="button button-trophy"><i class="ic-trophy"></i></span>
<span class="button button-close"><i class="ic-close"></i></span>
</div>
<div class="bets">
<span class="bet"><span>0</span></span>
<span class="bet"><span>0</span></span>
<span class="bet"><span>0</span></span>
</div>
<span class="session" id="sg-session">#123456</span>
<div class="actions">
<span class="button button-line" id="btnLines">
<span class="number" id="txtLine">1</span>
<span class="text" id="lblLine">Dòng</span>
</span>
<span class="button button-auto" id="btnStopSpin" style="display: none">
<span class="text" id="lblStopAuto">Dừng</span>
</span>
<span class="button button-auto" id="btnAutoSpin">
<span class="text" id="lblAuto">Tự quay</span>
</span>
<span class="button button-spin" id="btnSpin">
<span class="text" id="lblSpin">Quay</span>
<span class="text-s" id="lblFast">NHANH</span>
</span>
<span class="speed">
<input type="checkbox" id="input-speed">
<label for="input-speed" class="button-speed" title=""></label>
</span>
</div>
<div class="notice"></div>
</div>
<div class="select-lines">
<span class="button button-close"></span>
<div class="sl-t" id="lblChooseLine">Chọn dòng</div>
<ul class="line-box">
<li class="box active">
<span class="number">1</span>
<span class="line line-1"></span>
</li>
<li class="box">
<span class="number">2</span>
<span class="line line-2"></span>
</li>
<li class="box">
<span class="number">3</span>
<span class="line line-3"></span>
</li>
<li class="box">
<span class="number">4</span>
<span class="line line-4"></span>
</li>
<li class="box">
<span class="number">5</span>
<span class="line line-5"></span>
</li>
<li class="box">
<span class="number">6</span>
<span class="line line-6"></span>
</li>
<li class="box">
<span class="number">7</span>
<span class="line line-7"></span>
</li>
<li class="box">
<span class="number">8</span>
<span class="line line-8"></span>
</li>
<li class="box">
<span class="number">9</span>
<span class="line line-9"></span>
</li>
<li class="box">
<span class="number">10</span>
<span class="line line-10"></span>
</li>
<li class="box">
<span class="number">11</span>
<span class="line line-11"></span>
</li>
<li class="box">
<span class="number">12</span>
<span class="line line-12"></span>
</li>
<li class="box">
<span class="number">13</span>
<span class="line line-13"></span>
</li>
<li class="box">
<span class="number">14</span>
<span class="line line-14"></span>
</li>
<li class="box">
<span class="number">15</span>
<span class="line line-15"></span>
</li>
<li class="box">
<span class="number">16</span>
<span class="line line-16"></span>
</li>
<li class="box">
<span class="number">17</span>
<span class="line line-17"></span>
</li>
<li class="box">
<span class="number">18</span>
<span class="line line-18"></span>
</li>
<li class="box">
<span class="number">19</span>
<span class="line line-19"></span>
</li>
<li class="box">
<span class="number">20</span>
<span class="line line-20"></span>
</li>
</ul>
<div class="actions">
<span class="button button-l" id="lblOdd">Lẻ</span>
<span class="button button-c" id="lblEven">Chẵn</span>
<span class="button button-t" id="lblAll">Tất cả</span>
<span class="button button-b" id="lblCancel">Bỏ chọn</span>
</div>
</div>
</div>