<div class="popup popup-tx-event show">
<span class="button button-close" onclick="libs.MiniGame.closePopupParent()"></span>
<div class="title">{Message.GetMessage('ev14')}</div>
<div class="body-tabs">
<div class="body-tab active">
<div class="money-types">
<span class="type" onclick="gameLuckyDice.showTopEvent('bxhngay')"><span>{Message.GetMessage('ev15')}</span></span>
<span class="type" onclick="gameLuckyDice.showTopEvent('bxhchung')"><span>{Message.GetMessage('ev16')}</span></span>
<span class="type active" onclick="gameLuckyDice.showTopEvent('thele')"><span>{Message.GetMessage('ev4')}</span></span>
</div>
<div class="list-tabs">
<div class="scroll-tx">
<p style="color: yellow"><strong><em>Events: "Prophet" of the Big Small minigame</em></strong></p>
<p>Time: takes place every month, from the 1st to the last day of the month. Take place from 9h09 on 20/01/2019</p>
<p style="color: yellow"><strong><em>Content: </em></strong></p>
<p>- Applies to all players of the <span class="money-gold">{Config.MoneyText[1]}</span> game Big Small minigame on the folk game portal <a href="/" style="color: yellow;">{Config.PortalHost}</a></p>
<p style="color: yellow"><strong><em>Rules: </em></strong></p>
<p>During the time of the event, customers participating in playing the Big Small minigame with <span class="money-gold">{Config.MoneyText[1]}</span> win and lose consecutive consecutive games, will have the opportunity to receive many valuable <span class="money-gold">{Config.MoneyText[1]}</span> prizes for the prize date and 02 <span style="color: #Fc0">Iphone 12 Pro 64GB</span>, <span style="color: #Fc0">Iphone 12 Pro Max 64GB</span> for the final prize.</p>
<ul>
<li>Statistics prize day from 0h00 to 23h59.</li>
<li>Consecutive wins or losses do not need to be consecutive sessions.</li>
<li>
Conditions for calculating successive wins or losses:
<ul>
<li style="margin-left:50pt;">+ Games with a minimum matching order of 2,000 <span class="money-gold">2.000 {Config.MoneyText[1]}</span></li>
<li style="margin-left:50pt;">+ Have at least 1 match with at least 10,000 <span class="money-gold">10.000 {Config.MoneyText[1]}</span></li>
</ul>
</li>
<li>For games that do not match (refund 100% of the bet amount), the system will not recognize regardless of the outcome of that game - it is considered that the player did not participate.</li>
</ul>
<p>&nbsp;</p>
<p style="color: yellow"><strong><em>Ranking criteria:</em></strong></p>
<ol>
<li>The longest consecutive wins or losses the system has recorded each day.</li>
<li>Total winnings (sequence of consecutive wins) and total losses (sequence of consecutive losses)</li>
<li>Time to hit a series of consecutive wins or losses.</li>
</ol>
<p>&nbsp;</p>
<p style="color: yellow"><strong><em>Top prize wins consecutively</em></strong></p>
<table align="center" border="1" cellpadding="0" cellspacing="0" style="width:96%;">
<tbody>
<tr>
<th>
<p align="center">Top</p>
</th>
<th>
<p align="center">Prize day</p>
</th>
<th>
<p>Prize value</p>
</th>
<th>
<p>Amount</p>
</th>
</tr>
<tr>
<td>
<p align="center">1</p>
</td>
<td><p style="margin-left: 10px">2.000.000 <span class="money-gold">{Config.MoneyText[1]}</span></p></td>
<td class="money-gold">
<p align="right">2.000.000</p>
</td>
<td>
<p align="center">1</p>
</td>
</tr>
<tr>
<td>
<p align="center">2</p>
</td>
<td><p style="margin-left: 10px">1.000.000 <span class="money-gold">{Config.MoneyText[1]}</span></p></td>
 <td class="money-gold">
<p align="right">1.000.000</p>
</td>
<td>
<p align="center">1</p>
</td>
</tr>
<tr>
<td>
<p align="center">3</p>
</td>
<td><p style="margin-left: 10px">500.000 <span class="money-gold">{Config.MoneyText[1]}</span></p></td>
<td class="money-gold">
<p align="right">500.000</p>
</td>
<td>
<p align="center">1</p>
</td>
</tr>
<tr>
<th>
<p align="center">&nbsp;</p>
</th>
<th>
<p align="center">Final prize</p>
</th>
<th>
<p align="right">&nbsp;</p>
</th>
<th>
<p align="right">&nbsp;</p>
</th>
</tr>
<tr>
<td>
<p align="center">1</p>
</td>
<td><p style="margin-left: 10px"><span style="color: #Fc0">Iphone 12 Pro</span></p></td>
<td class="money-gold">
<p align="right">30.990.000</p>
</td>
<td>
<p align="center">1</p>
</td>
</tr>
</tbody>
</table>
<div style="clear:both;">&nbsp;</div>
<p>The final prize is for the person who has achieved the longest consecutive winning streak according to the above ranking criteria that the system records each day during the event period.</p>
<p>&nbsp;</p>
<p style="color: yellow"><strong><em>Top prize lost consecutively</em></strong></p>
<table align="center" border="1" cellpadding="0" cellspacing="0" style="width:100%;">
<tbody>
<tr>
<th>
<p align="center">Top</p>
</th>
<th>
<p align="center">Prize day</p>
</th>
<th>
<p>Prize value</p>
</th>
<th>
<p>Amount</p>
</th>
</tr>
<tr>
<td>
<p align="center">1</p>
</td>
<td><p style="margin-left: 10px">2.000.000 <span class="money-gold">{Config.MoneyText[1]}</span></p></td>
<td class="money-gold">
<p align="right">2.000.000</p>
</td>
<td>
<p align="center">1</p>
</td>
</tr>
<tr>
<td>
<p align="center">2</p>
</td>
<td><p style="margin-left: 10px">1.000.000 <span class="money-gold">{Config.MoneyText[1]}</span></p></td>
<td class="money-gold">
<p align="right">1.000.000</p>
</td>
<td>
<p align="center">1</p>
</td>
</tr>
<tr>
<td>
<p align="center">3</p>
</td>
<td><p style="margin-left: 10px">500.000 <span class="money-gold">{Config.MoneyText[1]}</span></p></td>
<td class="money-gold">
<p align="right">500.000</p>
</td>
<td>
<p align="center">1</p>
</td>
</tr>
<tr>
<th>
<p align="center">&nbsp;</p>
</th>
<th>
<p align="center">Final prize</p>
</th>
<th>
<p align="right">&nbsp;</p>
</th>
<th>
<p align="right">&nbsp;</p>
</th>
</tr>
<tr>
<td>
<p align="center">1</p>
</td>
<td><p style="margin-left: 10px"><span style="color: #Fc0">Iphone 12 Pro Max</span></p></td>
<td class="money-gold">
<p align="right">33.990.000</p>
</td>
<td>
<p align="center">1</p>
</td>
</tr>
</tbody>
</table>
<div style="clear:both;">&nbsp;</div>
<p>The final prize is for the person who has achieved the longest consecutive losing streak according to the ranking criteria above, which the system records each day during the event.</p>
<p>&nbsp;</p>
<p style="color: yellow"><strong><em>Note:</em></strong></p>
<p>- <span class="money-gold">{Config.MoneyText[1]}</span> awards will be given out at 0:30 on the next day.</p>
<p>- Physical prizes will be given out within 1 week of the end of the event, physical prizes do not include related surcharges.</p>
<p>- Physical prizes can be redeemed for <span class="money-gold">{Config.MoneyText[1]}</span>.</p>
<p>- One account can receive many different daily prizes.</p>
<p>- In the event of a dispute, the BTC decision is final.</p>
<p style="color: yellow">- From December 2020, the iPhone 11 Pro, Iphone 11 Pro Max awards at the event will be upgraded respectively to Iphone 12 Pro 128GB, Iphone 12 Pro Max 128GB.</p>
</div>
</div>
</div>
</div>
</div>