<div class="popup popup-mini-guide show">
<span class="button button-close" onclick="libs.MiniGame.closePopupParent()"></span>
<div class="title">{Message.GetMessage('mn22')}</div>
<div class="body-tabs">
<div class="body-tab active">
<div class="money-types">
<span class="type" id="t1Money"><span>{Config.MoneyText[1]}</span></span>
<span class="type" id="t2Money"><span>{Config.MoneyText[0]}</span></span>
</div>
<div class="list-tabs">
<div class="scroll-tx">
<div align="center">
<table class="table" border="0" cellspacing="0" cellpadding="0" width="100%">
<thead>
<tr>
<th width="160">
<p align="center">
<strong>Nhóm bài</strong>
</p>
</th>
<th>
</th>
<th width="94">
<p align="center">
<strong>1000</strong>
</p>
</th>
<th width="98">
<p align="center">
<strong>10,000</strong>
</p>
</th>
<th width="89">
<p align="center">
<strong>100,000</strong>
</p>
</th>
</tr>
</thead>
<tbody>
<tr>
<td width="160">
<p align="center">
Thùng phá sảnh J
</p>
</td>
<td width="110px">
<img height="40px"  src="{$P.MediaUrl}images/guide/ThungPhaSanh.png" />
</td>
<td width="96">
<p align="center" style="color: #fff">
quỹ thưởng
</p>
</td>
<td width="99">
<p align="center" style="color: #fff">
quỹ thưởng
</p>
</td>
<td width="89">
<p align="center" style="color: #fff">
quỹ thưởng
</p>
</td>
</tr>
<tr>
<td width="160">
<p align="center">
Thùng phá sảnh
</p>
</td>
<td width="110px">
<img height="40px"  src="{$P.MediaUrl}images/guide/thungphasanh_new.png" />
</td>
<td width="94">
<p align="center" style="color: #fff">
1,000,000
</p>
</td>
<td width="98">
<p align="center" style="color: #fff">
10,000,000
</p>
</td>
<td width="89">
<p align="center" style="color: #fff">
100,000,000
</p>
</td>
</tr>
<tr>
<td width="160">
<p align="center">
Tứ quý
</p>
</td>
<td width="110px">
<img height="40px"  src="{$P.MediaUrl}images/guide/tuquy.png" />
</td>
<td width="94">
<p align="center" style="color: #fff">
120,000
</p>
</td>
<td width="98">
<p align="center" style="color: #fff">
1,200,000
</p>
</td>
<td width="89">
<p align="center" style="color: #fff">
12,000,000
</p>
</td>
</tr>
<tr>
<td width="160">
<p align="center">
Cù lũ
</p>
</td>
<td width="110px">
<img height="40px"  src="{$P.MediaUrl}images/guide/culu.png" />
</td>
<td width="94">
<p align="center" style="color: #fff">
40,000
</p>
</td>
<td width="98">
<p align="center" style="color: #fff">
400,000
</p>
</td>
<td width="89">
<p align="center" style="color: #fff">
4,000,000
</p>
</td>
</tr>
<tr>
<td width="160">
<p align="center">
Thùng
</p>
</td>
<td width="110px">
<img height="40px"  src="{$P.MediaUrl}images/guide/thung.png" />
</td>
<td width="94">
<p align="center" style="color: #fff">
18,000
</p>
</td>
<td width="98">
<p align="center" style="color: #fff">
180,000
</p>
</td>
<td width="89">
<p align="center" style="color: #fff">
1,800,000
</p>
</td>
</tr>
<tr>
<td width="160">
<p align="center">
Sảnh
</p>
</td>
<td width="110px">
<img height="40px"  src="{$P.MediaUrl}images/guide/sanh.png" />
</td>
<td width="94">
<p align="center" style="color: #fff">
12,000
</p>
</td>
<td width="98">
<p align="center" style="color: #fff">
120,000
</p>
</td>
<td width="89">
<p align="center" style="color: #fff">
1,200,000
</p>
</td>
</tr>
<tr>
<td width="160">
<p align="center">
Sám
</p>
</td>
<td width="110px">
<img  height="40px"  src="{$P.MediaUrl}images/guide/sam.png" />
</td>
<td width="94">
<p align="center" style="color: #fff">
8,000
</p>
</td>
<td width="98">
<p align="center" style="color: #fff">
80,000
</p>
</td>
<td width="89">
<p align="center" style="color: #fff">
800,000
</p>
</td>
</tr>
<tr>
<td width="160">
<p align="center">
hai đôi
</p>
</td>
<td width="110px">
<img height="40px"  src="{$P.MediaUrl}images/guide/haidoi.png" />
</td>
<td width="94">
 <p align="center" style="color: #fff">
5,000
</p>
</td>
<td width="98">
<p align="center" style="color: #fff">
50,000
</p>
</td>
<td width="89">
<p align="center" style="color: #fff">
500,000
</p>
</td>
</tr>
<tr>
<td width="160">
<p align="center">
Đôi J trở lên
</p>
</td>
<td width="110px">
<img height="40px" src="{$P.MediaUrl}images/guide/doijacktrolen.png" />
</td>
<td width="94">
<p align="center" style="color: #fff">
2,500
</p>
</td>
<td width="98">
<p align="center" style="color: #fff">
25,000
</p>
</td>
<td width="89">
<p align="center" style="color: #fff">
250,000
</p>
</td>
</tr>
</tbody>
</table>
</div>
<p>
<strong>Bước 1: </strong>
Chọn Mệnh giá
</p>
<p>
<strong>Bước 2: </strong>
Chọn {Config.MoneyText[1]} hoặc {Config.MoneyText[0]} để chơi
</p>
<p>
<strong>Bước 3: </strong>
Click vào cần gạt với đợi hiện kết quả
</p>
<p>
<em></em>
</p>
<p>
<em>
(*) Có 3 mệnh giá chọn đối với {Config.MoneyText[1]} và {Config.MoneyText[0]}. Mỗi mệnh giá chọn sẽ có 1 Quỹ thưởng khác nhau. Mỗi thời điểm chỉ chơi được duy nhất {Config.MoneyText[1]} hoặc {Config.MoneyText[0]} (không thể
chơi song song)
</em>
</p>
<p>
<em>(**) Trả thưởng cho người chơi: </em>
</p>
<p>
<em> + Người chơi so sánh kết quả nhận được với bảng thưởng để nhận .</em>
</p>
<p>
<em> + Có thể chọn nút (!) để xem lịch sử giao dịch.</em>
</p>
<p>
<em> + Có thể chọn nút (123) để xem Bảng Xếp Hạng.</em>
</p>
<p>
<em>(***) Người chơi có thể chọn chức năng chơi tự động để các phiên chơi diễn ra nhanh và liên tục. </em>
<em></em>
<em>Có thể mở nhiều duyệt trình chơi cùng lúc để tăng cơ hội trúng thưởng</em>
</p>
<p>
<em>(****) Có thể click vào icon mini của Mini Poker để <strong>Mở / Đóng</strong> popup game.</em>
</p>
<p>
<em></em>
</p>
<p>
<em>VD: khi game đặt cược <strong>100,000 {Config.MoneyText[0]}</strong> </em>
<em></em>
<em> Click <strong>Cần gạt</strong> để ra bài</em>
<em> </em>
<em>Kết quả ra <strong>Sảnh</strong> </em>
<em></em>
<em> Người chơi Thắng mức <strong>Sảnh</strong>, nhận được <strong>1,200,000 {Config.MoneyText[0]}</strong>.</em>
<strong></strong>
</p>
</div>
</div>
</div>
</div>
</div>