<div class="popup popup-mini-guide show">
<span class="button button-close" onclick="libs.MiniGame.closePopupParent()"></span>
<div class="title">{Message.GetMessage('ev28')}</div>
<div class="body-tabs">
<div class="body-tab active">
<div class="money-types" style="background: none; -webkit-box-shadow: none; box-shadow:none">
</div>
<div class="list-tabs">
<div class="scroll-tx">
<p style="font-size: 120%;"><strong><em>Sự kiện: <span style="color: #Fc0">“Chơi game Phục Sinh, lung linh X2”</span> của minigame Phục Sinh.</em></strong></p>
<br/>
<p> Vào 12h30 thứ ba và thứ bảy hằng tuần, để tri ân người chơi, minigame Phục Sinh sẽ xuất hiện 22 hũ phòng 100 và 2 hũ phòng 1.000 được <strong style="color: #Fc0">X2 (nhân đôi) giá trị hũ</strong> ở thời điểm nổ (không tính trả thưởng payline).</p>
<br />
<p>Ví dụ:</p>
<p>Tại thời điểm ăn hũ X2, giá trị hũ là 6.000.000 <span class="money-gold">{Config.MoneyText[1]}</span>, trả thưởng payline là 100.000 <span class="money-gold">{Config.MoneyText[1]}</span> thì giải thưởng người chơi nhận được là: 6.000.000 x 2 + 100.000 = 12.100.000 <span class="money-gold">{Config.MoneyText[1]}</span></p>
<br />
<p><em>Chú ý:</em></p>
<ol>
<li>- Phòng 100: hũ được <strong style="color: #Fc0">X2</strong> tiếp theo sẽ cách 3 hũ bình thường đối với hũ <strong style="color: #Fc0">X2</strong> trước đó (vd: 1,5,9,13).</li>
<li>- Phòng 1.000: hũ thứ ba và thứ bảy sẽ được <strong style="color: #Fc0">X2</strong> tính từ thời điểm khung giờ vàng.</li>
<li>- Giờ vàng <strong style="color: #Fc0">X2</strong> thứ ba và thứ bảy hằng tuần sẽ bắt đầu vào lúc 12h30 và kết thúc khi trao thưởng đủ 22 hũ <strong style="color: #Fc0">X2</strong> phòng 100 và 2 hũ <strong style="color: #Fc0">X2</strong> phòng 1.000</li>
</ol>
</div>
</div>
</div>
</div>
</div>