<div id="gameHighlow" class="mg-ct" style="top: 380px; left: 460px; display: none;">
<div class="event" style="cursor: pointer;"></div>
<div class="game">
<div class="jackpot">
<span class="money" id="hilowJackpot">0</span>
<i class="ic-money money-1 active"></i>
<i class="ic-money money-2"></i>
</div>
<div class="effect" style="display: none;"></div>
<div class="buttons">
<span class="button button-guide"><i class="ic-guide"></i></span>
<span class="button button-history"><i class="ic-history"></i></span>
<span class="button button-trophy"><i class="ic-trophy"></i></span>
<span class="button button-close"><i class="ic-close"></i></span>
</div>
<div class="money-types">
<span class="money-1 active"></span>
<span class="money-2"></span>
</div>
<div class="bets">
<span class="bet bet-10k" id="bet1" ><span>1K</span></span>
<span class="bet bet-100k" id="bet2" ><span>10K</span></span>
<span class="bet bet-500k" id="bet3" ><span>50K</span></span>
<span class="bet bet-1m" id="bet4" ><span>100K</span></span>
<span class="bet bet-5m" id="bet5" ><span>500K</span></span>
</div>
<span class="annoucement">
<span class="text" style="display: none;"></span>
<div class="sessions">

</div>
</span>
<div class="card-box">
<span class="play" style="z-index: 2;"></span>
<div class="card">
<canvas id="canvas-highlow" style="width: 119px;height: 168px; top:8px; left:10px; position: absolute; z-index: 1;"></canvas>
</div>
<div class="winMoneyMotion"></div>
</div>
<div class="control">
<span class="text-up" id="moneyForHigher">0</span>
<span class="text-middle" id="priceaward">0</span>
<span class="text-down" id="moneyForLower">0</span>
<span class="control-up" id="hilo-btn-up"></span>
<span class="control-down" id="hilo-btn-down"></span>
</div>
<span class="button button-turn" id="btn-newTurn">{Message.GetMessage('hl1')}</span>
<div class="fill-box">
<span class="box" id="A1"></span>
<span class="box" id="A2"></span>
<span class="box" id="A3"></span>
</div>
<span class="time">00:00</span>
<span class="session">#0</span>
</div>
</div>