<div class="popup popup-mini-guide show">
<span class="button button-close" onclick="libs.MiniGame.closePopupParent()"></span>
<div class="title">{Message.GetMessage('mn1')}</div>
<div class="body-tabs">
<div class="body-tab active">
<div class="money-types">
<span class="type active" id="t1History"><span>{Config.MoneyText[1]}</span></span>
<span class="type"  id="t2History"><span>{Config.MoneyText[0]}</span></span>
</div>
<div class="list-tabs">
<table class="table" style="width:100%">
<thead>
<tr>
<th width="80" align="center">{Message.GetMessage('hi08')}</th>
<th align="center">{Message.GetMessage('hi09')}</th>
<th width="100" align="center">{Message.GetMessage('hi12')}</th>
<th width="100" align="center">{Message.GetMessage('hi20')}</th>
<th width="100" align="center">{Message.GetMessage('hi11')}</th>
<th width="100" align="center">{Message.GetMessage('hi10')}</th>
<th width="100" align="right">{Message.GetMessage('hi14')}</th>
</tr>
</thead>
<tbody id="itemHis"></tbody>
</table>
<div class="page-ljp pages" id="pager">
</div>
</div>
</div>
</div>
</div>