
{#foreach $T as item}
<tr>
    <td align="center">{libs.Util.formDateTimehms($T.item.CreatedTime)}</td>
    <td align="center" {#if ($T.item.AccountID == $P.AccountID && $T.item.PortalID == $P.PortalID)}style="color: #ff0"{#/if}>{libs.Util.getNameSetStyle($T.item.Nickname)}</td>
    <td align="center" class="money-gold">{gameHighLow.roomIdToBetValue($T.item.RoomID)}</td>
    <td align="center" class="money-gold">{libs.Util.ParseMoney($T.item.PrizeValue)}</td>
    <td align="center">{Message.GetMessage(($T.item.Type == 0) ? 'mn16' : 'mn15')}</td> 	   
</tr>
{#/for}  