<div class="popup popup-tx-event show">
<span class="button button-close" onclick="libs.MiniGame.closePopupParent()"></span>
<div class="title">{Message.GetMessage('ev20')}</div>
<div class="body-tabs">
<div class="body-tab active">
<div class="money-types">
<span class="type" onclick="gameHighLow.showTopEvent('bxhngay')"><span>{Message.GetMessage('ev15')}</span></span>
<span class="type" onclick="gameHighLow.showTopEvent('bxhchung')"><span>{Message.GetMessage('ev16')}</span></span>
<span class="type active" onclick="gameHighLow.showTopEvent('thele')"><span>{Message.GetMessage('ev4')}</span></span>
</div>
<div class="list-tabs">
<div class="scroll-tx">
<p style="font-size: 120%; color: yellow"><strong><em>Events: "Hunt beautiful cards, clamp Iphone" of the minigame High Low</em></strong></p>
<p>Time: events take place every month, from the 1st to the last day of the month.</p>
<p>&nbsp;</p>
<p style="font-size: 120%;"><strong><em>Content: </em></strong></p>
<p>- Applies to all minigame players High Low by <span class="money-gold">{Config.MoneyText[1]}</span> on the folk game portal <a href="{Config.STATIC_URL}" style="color: #fff;">{Config.PortalHost}</a></p>
<p>&nbsp;</p>
<p style="font-size: 120%;"><strong><em>Rules: </em></strong></p>
<p>During the event period, customers participate in playing copper low minigames <span class="money-gold">{Config.MoneyText[1]}</span> have the opportunity to receive many awards <span class="money-gold">{Config.MoneyText[1]}</span> valid for day and 01 prizes <span style="color: #Fc0">Iphone 12 Pro Max</span> for the final prize.</p>
<ul>
<li>- In a high and low minigame session, the system will automatically select 5 of the opened cards to combine into the highest deck according to the Poker game rules (not the nature of the deck).</li>
<li>- A valid game is a session with at least 5 steps and the last played is the winning one.</li>
<li>- Prize statistics from 0:00 to 23:59 of day.</li>
</ul>
<p>&nbsp;</p>
<p style="font-size: 120%;"><strong><em>Ranking:</em></strong></p>
<ol>
<li>- The highest deck the system records each day</li>
<li>- The biggest win value</li>
<li>- Time to reach the highest deck sooner (time to end the game)</li>
</ol>
<p>&nbsp;</p>
<p style="font-size: 120%;"><strong><em>Prize </em></strong></p>
<table align="center" border="1" cellpadding="0" cellspacing="0" style="width:100%;">
<tbody>
<tr>
<th>
<p align="center">Top</p>
</th>
<th>
<p align="center">Daily prize</p>
</th>
<th style="width:115px;">
<p>Prize value</p>
</th>
<th style="width:66px;">
<p>Amount</p>
</th>
</tr>
<tr>
<td>
<p align="center">1</p>
</td>
<td>
<p>2.000.000 <span class="money-gold">{Config.MoneyText[1]}</span></p>
</td>
 <td style="width:115px;" class="money-gold">
<p align="right">2.000.000</p>
</td>
<td style="width:66px;">
<p align="center">1</p>
</td>
</tr>
<tr>
<td>
<p align="center">2</p>
</td>
<td>
<p>1.000.000 <span class="money-gold">{Config.MoneyText[1]}</span></p>
</td>
<td style="width:115px;" class="money-gold">
<p align="right">1.000.000</p>
</td>
<td style="width:66px;">
<p align="center">1</p>
</td>
</tr>
<tr>
<td>
<p align="center">3</p>
</td>
<td>
<p>500.000 <span class="money-gold">{Config.MoneyText[1]}</span></p>
</td>
<td style="width:115px;" class="money-gold">
<p align="right">500.000</p>
</td>
<td style="width:66px;">
<p align="center">1</p>
</td>
</tr>
<tr>
<th>
<p align="center">&nbsp;</p>
</th>
<th>
<p align="center">Final prize</p>
</th>
<th style="width:115px;">
<p align="right">&nbsp;</p>
</th>
<th style="width:66px;">
<p align="right">&nbsp;</p>
</th>
</tr>
<tr>
<td>
<p align="center">1</p>
</td>
<td>
<p><span style="color: #Fc0">Iphone 12 Pro Max</span></p>
</td>
<td style="width:115px;" class="money-gold">
<p align="right">33.990.000</p>
</td>
<td style="width:66px;">
<p align="center">1</p>
</td>
</tr>
</tbody>
</table>
<div style="clear:both;">&nbsp;</div>
<p>The final prize is for the person who achieves the highest deck according to the ranking criteria above that the system records each day during the event period.</p>
<p style="font-size: 120%;"></p>
<p style="font-size: 120%;"><strong><em>Note:</em></strong></p>
<p>- Prize <span class="money-gold">{Config.MoneyText[1]}</span> will be given at 0:30 the next day.</p>
<p>- The physical prize will be awarded within 1 week immediately after the end of the event, the physical prize does not include the relevant surcharge.</p>
<p>- Physics prizes are redeemable <span class="money-gold">{Config.MoneyText[1]}</span>.</p>
<p>- An account can receive many different day prizes.</p>
<p>- In the event of a dispute, the decision of the admin is final.</p>
<p style="color: yellow">- From December 2020 the Iphone 11 Pro Max award at the event will be upgraded to Iphone 12 Pro Max 128GB.</p>
</div>
</div>
</div>
</div>
</div>