<div class="popup popup-mini-guide show">
<span class="button button-close" onclick="libs.MiniGame.closePopupParent()"></span>
<div class="title">{Message.GetMessage('mn22')}</div>
<div class="body-tabs">
<div class="body-tab active">
<div class="money-types" style="background: none; -webkit-box-shadow: none; box-shadow:none">
</div>
<div class="list-tabs">
<div class="scroll-tx">
<p style="color: yellow"><em><strong>GIỚI THIỆU</strong></em></p><br/>
<p>Cao Thấp l&agrave; một minigame đơn giản với tỷ lệ thắng lớn, cơ hội sở hữu quỹ thưởng khủng sẽ mang lại cho người chơi những trải nghiệm cực kỳ th&uacute; vị. Giao diện game sẽ xuất hiện 1 trong 52 l&aacute; b&agrave;i, người chơi sẽ dự đo&aacute;n l&aacute; b&agrave;i tiếp theo sẽ lớn hơn hay nhỏ hơn l&aacute; b&agrave;i hiện tại.</p><br/>
<p style="color: yellow"><em><strong>LUẬT CHƠI</strong></em></p><br/>
<p><strong><span style="text-decoration: underline;">Bước 1</span></strong>: Chọn mốc {Config.MoneyText[1]}/{Config.MoneyText[0]} muốn dự đo&aacute;n</p><br/>
<p><strong><span style="text-decoration: underline;">Bước 2:</span></strong> Bấm CHƠI để bắt đầu.</p>
<p>Bắt đầu chơi, hệ thống sẽ ngẫu nhi&ecirc;n xuất hiện 1 l&aacute; b&agrave;i để người chơi đưa ra lựa chọn của m&igrave;nh</p><br/>
<p><strong><span style="text-decoration: underline;">Bước 3:</span></strong> Dự đo&aacute;n l&aacute; b&agrave;i tiếp theo lớn hơn hay nhỏ hơn l&aacute; b&agrave;i đ&atilde; xuất hiện</p>
<p>Mỗi dự đo&aacute;n sẽ c&oacute; tỷ lệ tr&uacute;ng thưởng kh&aacute;c nhau.</p>
<p>Mỗi lượt dự đo&aacute;n c&oacute; thời gian tối đa l&agrave; 2 ph&uacute;t. Hết 2 ph&uacute;t người chơi kh&ocirc;ng đưa ra dự đo&aacute;n tiếp theo th&igrave; hệ thống sẽ tự động chuyển sang lượt mới. Trường hợp đặc biệt nếu người chơi sau khi ấn Play m&agrave; kh&ocirc;ng dự đo&aacute;n kết quả sau 2p th&igrave; hệ thống sẽ lựa chọn ngẫu nhi&ecirc;n 1 đ&aacute;p &aacute;n cho người chơi.</p><br/>
<p><strong><span style="text-decoration: underline;">Bước 4:</span></strong> Theo d&otilde;i kết quả để biết kết quả thắng hay thua</p>
<p>Trường hợp xuất hiện l&aacute; b&agrave;i tiếp theo c&ugrave;ng gi&aacute; trị với l&aacute; b&agrave;i hiện tại, hệ thống sẽ tr&iacute;ch 10% số tiền đặt của người chơi v&agrave;o Jackpot v&agrave; lượt chơi tiếp tục.</p><br/>
<p style="color: yellow"><em><strong>CƠ CHẾ NỔ QUỸ THƯỞNG</strong></em></p>
<p>Khi người chơi thắng li&ecirc;n tiếp trong c&ugrave;ng một phi&ecirc;n chơi, v&agrave; sở hữu bất kỳ 3 trong 4 qu&acirc;n A th&igrave; quỹ thưởng sẽ nổ. Khi đ&oacute;, người chơi sẽ nhận 50% quỹ thưởng.</p><br/>
<p>Tham gia ngay CAO THẤP để rinh h&agrave;ng triệu {Config.MoneyText[1]} n&agrave;o.&nbsp;</p>
</div>
</div>
</div>
</div>
</div>