<div class="tab tab-result active">
<span class="title" id="divDateAward">{Message.GetMessage('hi11')}</span>
<div class="xs-h">
<div class="dropbox">
<div class="db-active" id="activeLocation"></div>
<div class="dropdown" data-simplebar="init" id="divLocationByDateKetQua">
</div>
</div>
<div class="dropbox calendar">
<div class="db-active" id="activeDate">
<input type="text" class="inputdate" id="datepicker" onchange="gameLottery.GetLocationByDateKetQua()" />
<input type="text" class="inputdate" id="hiddFocus" style="background: transparent;color: transparent;width: 0px;height: 0px;position: absolute;"/>
</div>
</div>
</div>
<div class="xs-b" id="divDatCua">
</div>
</div>