<div class="tab tab-history active">
<span class="title">{Message.GetMessage('xs68', [0])}</span>
<div class="xs-b" id="description5">
<ul class="list-view-head">
<li>{Message.GetMessage('hi02')}</li>
<li>
<div class="drop-filter">

<div class="filter-active" id="filter-area">{Message.GetMessage('lb1')}</div>
<div class="dropdown" id="filter-area-drop" style="height: 180px; padding-top: 0px;">
<span data-value="" class="active">{Message.GetMessage('lb1')}</span>
<span data-value="1">{Message.GetMessage('xs69')}</span>
<span data-value="2">{Message.GetMessage('xs70')}</span>
<span data-value="3">{Message.GetMessage('xs71')}</span>
</div>
</div>
</li>
<li>{Message.GetMessage('tx4')}</li>
<li>{Message.GetMessage('xs92')}</li>
<li>{Message.GetMessage('xs72')}</li>
<li>
<div class="drop-filter">

<div class="filter-active" id="filter-prize">{Message.GetMessage('tx21')}</div>
<div class="dropdown" id="filter-prize-drop" style="height: 92px; padding-top: 0px;">

<span data-value="awarded" class="active">{Message.GetMessage('tx21')}</span>
<span data-value="prized">{Message.GetMessage('xs73')}</span>
</div>
</div>
</li>
<li></li>
</ul>
<ul class="list-view-body">
</ul>
</div>
</div>