<div class="simplebar-wrapper" style="margin: 0px;">
<div class="simplebar-height-auto-observer-wrapper">
<div class="simplebar-height-auto-observer"></div>
</div>
<div class="simplebar-mask">
<div class="simplebar-offset" style="right: 0px; bottom: 0px;">
<div class="simplebar-content" style="padding: 0px; height: auto; overflow: hidden;" id="ulLocationByDate">
{#foreach $T as item}
{#if $P.TabID == 1}
<span class="row status-{$T.item.GameStatus}" id="a{$T.item.LocationID}"onclick="gameLottery.GetCurrentData('{$T.item.LocationID}', '{$T.item.LocationName}', '{$T.item.AreaID}',this)">
{$T.item.LocationName}
</span>
{#/if}
{#if $P.TabID == 2}
<span class="row status-{$T.item.GameStatus}" id="a{$T.item.LocationID}" onclick="gameLottery.GetCurrentDataKetqua('{$T.item.LocationID}', '{$T.item.LocationName}', '{$T.item.AreaID}', this)">
{$T.item.LocationName}
</span>
{#/if}
{#/for}
</div>
</div>
</div>
<div class="simplebar-placeholder" style="width: 0px; height: 0px;"></div>
</div>
<div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
<div class="simplebar-scrollbar" style="transform: translate3d(0px, 0px, 0px); visibility: hidden;">
</div>
</div>
<div class="simplebar-track simplebar-vertical" style="visibility: hidden;">
<div class="simplebar-scrollbar" style="transform: translate3d(0px, 0px, 0px); visibility: hidden;">
</div>
</div>