{#if $T.HistoryType==1}
<div class="sessions">
    {#if $T != null}
    {#foreach $T.Data as item}
    <i class="{gameCrabFish.getResultName($T.item.DiceData.split(',')[0],$T.item.LocationID,$T.item.Extend)}" title="{Message.GetMessage('hi08')} #{$T.item.GameSessionID} - {gameCrabFish.getGateResultName($T.item)}"></i>
    <i class="{gameCrabFish.getResultName($T.item.DiceData.split(',')[1],$T.item.LocationID,$T.item.Extend)}" title="{Message.GetMessage('hi08')} #{$T.item.GameSessionID} - {gameCrabFish.getGateResultName($T.item)}"></i>
    <i class="{gameCrabFish.getResultName($T.item.DiceData.split(',')[2],$T.item.LocationID,$T.item.Extend)}" title="{Message.GetMessage('hi08')} #{$T.item.GameSessionID} - {gameCrabFish.getGateResultName($T.item)}"></i>
    {#/for}
    {#/if}
</div>
{#else}
<div class="charts">   
    {#if $T != null}                     
    <div class="ic-1">
        <span class="percent" style="width: {$T.Data[1]}%"></span>
        <span class="text">{$T.Data[1]}</span>
    </div>              
    <div class="ic-2">
        <span class="percent" style="width: {$T.Data[2]}%"></span>
        <span class="text">{$T.Data[1]}</span>
    </div>                                            
    <div class="ic-3">
        <span class="percent" style="width: {$T.Data[3]}%"></span>
        <span class="text">{$T.Data[1]}</span>
    </div>                          
    <div class="ic-4">
        <span class="percent" style="width: {$T.Data[4]}%"></span>
        <span class="text">{$T.Data[1]}</span>
    </div>                           
    <div class="ic-5">
        <span class="percent" style="width: {$T.Data[5]}%"></span>
        <span class="text">{$T.Data[1]}</span>
    </div>                          
    <div class="ic-6">
        <span class="percent" style="width: {$T.Data[6]}%"></span>
        <span class="text">{$T.Data[1]}</span>
    </div>
    {#else}
    <div class="ic-1">
            <span class="percent" style="width: 0%"></span>
            <span class="text">0</span>
        </div>              
        <div class="ic-2">
            <span class="percent" style="width: 0%"></span>
            <span class="text">0</span>
        </div>                                            
        <div class="ic-3">
            <span class="percent" style="width: 0%"></span>
            <span class="text">0</span>
        </div>                          
        <div class="ic-4">
            <span class="percent" style="width: 0%"></span>
            <span class="text">0</span>
        </div>                           
        <div class="ic-5">
            <span class="percent" style="width: 0%"></span>
            <span class="text">0</span>
        </div>                          
        <div class="ic-6">
            <span class="percent" style="width: 0%"></span>
            <span class="text">0</span>
        </div>
    {#/if}
</div>