<div class="mg-bc" id="gameCrabFish" style="top: 380px; left: 460px">
<div class="event"></div>
<div class="game">
<div class="buttons">
<span class="button button-guide" style="z-index: 2;"><i class="ic-guide"></i></span>
<span class="button button-history" style="z-index: 2;"><i class="ic-history"></i></span>
<span class="button button-trophy" style="z-index: 2;"><i class="ic-trophy"></i></span>
<span class="button button-close"><i class="ic-close"></i></span>
</div>
<div class="button-actions">
<span class="button button-rebet">Đặt lại</span>
<span class="button button-double">Gấp thếp</span>
<span class="button button-clear">Xóa</span>
<span class="button button-confirm">Xác nhận</span>
</div>
<div class="game-slots">
<div class="box" id="g1">
<span class="text-up">0</span>
<span class="text-down">0</span>
<span class="win"></span>
<span class="frame"></span>
</div>
<div class="box" id="g2">
<span class="text-up">0</span>
<span class="text-down">0</span>
<span class="win"></span>
<span class="frame"></span>
</div>
<div class="box" id="g3">
<span class="text-up">0</span>
<span class="text-down">0</span>
<span class="win"></span>
<span class="frame"></span>
</div>
<div class="box" id="g4">
<span class="text-up">0</span>
<span class="text-down">0</span>
<span class="win"></span>
<span class="frame"></span>
</div>
<div class="box" id="g5">
<span class="text-up">0</span>
<span class="text-down">0</span>
<span class="win"></span>
<span class="frame"></span>
</div>
<div class="box" id="g6">
<span class="text-up">0</span>
<span class="text-down">0</span>
<span class="win"></span>
<span class="frame"></span>
</div>
</div>
<div class="session-watch">
</div>
<span class="button button-session-change">Đổi cầu</span>
<div class="money-types">
<span class="money-1 active"></span>
<span class="money-2"></span>
</div>
<div class="bets">
<span class="bet bet-1" id="d1"><span>1K</span></span>
<span class="bet bet-2" id="d2"><span>5K</span></span>
<span class="bet bet-3" id="d3"><span>10K</span></span>
<span class="bet bet-4" id="d4"><span>50K</span></span>
<span class="bet bet-5" id="d5"><span>100K</span></span>
</div>
<span class="annoucement">Chọn cửa để đặt</span>
<span class="time" id="timerCf"></span>
<span class="session" id="cf-session">#123456</span>
<div class="plate" style="display: none">
<canvas id="canvas-cf"></canvas>
</div>
<div class="rooms">
<span class="room" id="c1"><span>100</span></span>
<span class="room" id="c2"><span>1K</span></span>
<span class="room" id="c3"><span>10K</span></span>
</div>
<div class="m-result"></div>
</div>
</div>