<div class="popup popup-mini-guide show">
<span class="button button-close" onclick="libs.MiniGame.closePopupParent()"></span>
<div class="title">{Message.GetMessage('mn2')}</div>
<div class="body-tabs">
<div class="body-tab active">
<div class="money-types" style="background: none; -webkit-box-shadow: none; box-shadow:none">
</div>
<div class="list-tabs">
<table class="table" style="width:100%">
<thead>
<tr>
<th align="center">{Message.GetMessage('hi15')}</th>
<th align="center">{Message.GetMessage('hi21')}</th>
<th align="center">{Message.GetMessage('hi17')}</th>
</tr>
</thead>
<tbody>
{#foreach $T.data as item}
<tr>
<td align="center" {#if $T.MoneyType == 1} class="tdcolorGold" {#/if}>{$T.item$index + 1}</td>
<td align="center" {#if $T.MoneyType ==1} class="tdcolorGold" {#/if} {#if ($T.item.AccountID == $P.AccountID && $T.item.PortalID == $P.PortalID)}style="color: #ff0"{#/if}>{libs.Util.getNameSetStyle($T.item.Nickname)}</td>
{#if $T.MoneyType==1}
<td align="center" class="money-gold">{libs.Util.ParseMoney($T.item.PrizeValue)}</td>
{#else}
<td align="center" class="money-coin">{libs.Util.ParseMoney($T.item.PrizeValue)}</td>
{#/if}
</tr>
{#/for}
</tbody>
</table>
</div>
</div>
</div>
</div>